.about-us {
  padding-top: 34px;
}

.about-us__wrapper {
  @include wrapper;
}

.about-us__title {
  @include font-text($OpenSans, 25px, 30px, 700);
  color: $black;
  margin: 0;
}

.about-us__description {
  @include font-text($OpenSans, 17px, 20px, 700);
  color: $black;
  margin-top: 85px;
  max-width: 220px;
  position: relative;

  & svg {
    position: absolute;
    top: -55px;
    left: 7px;
    fill: $seafoam-blue;
  }
  &--flower {
    max-width: 190px;
  }

  &--money {
  }
  &--heart {
    max-width: 200px;
  }
  &--ball {
    margin-top: 80px;
  }
  &--roket {
    max-width: 250px;
    margin-top: 83px;
  }
  &--gift {
    margin-top: 80px;
  }

}

.about-us__advantages {
  @include list-reset;

}

@media(min-width:$tablet-width) {
  .about-us{
    padding-top: 68px;
  }
  .about-us__title {
    @include font-text($OpenSans, 43px, 50px, 700);
    margin-bottom: 17px;
  }

  .about-us__description {
    @include font-text($OpenSans, 20px, 22px, 700);
    max-width: 295px;
    margin-top: 112px;
    margin-right: 38px;
    &--flower {
      order: 1;
      margin-top: 85px;
      padding-right: 70px;
    }
    &--money {
      order: 3;
      padding-right: 50px;

    }
    &--heart {
      order: 5;
      padding-right: 60px;

    }
    &--ball {
      order: 2;
      margin-top: 85px;
    }
    &--roket {
      order: 4;
    }
    &--gift {
      order: 6;
    }
  }

  .about-us__advantages {
    display: flex;
    flex-wrap: wrap;
    max-width: 670px;
  }
}

@media(min-width:$desktop-width) {
  .about-us__wrapper {
    padding-left: 225px;
  }

  .about-us__advantages {
    width: 750px;
  }

  .about-us__description {
    width: 50%;
  }
}
