.additionally {
  padding-bottom: 55px;
}

.additionally__wrapper {
  @include wrapper;
}

.additionally__textarea {
  @include font-text($OpenSans, 17px, 18px, 400);
  font-family: $OpenSans;
  color: $text;
  width: 100%;
  outline: 0;
  padding: 18px 0 0 17px;
  margin-top: 23px;
  max-height: 142px;
  border: 2px solid $text;
}

.additionally__textarea:hover,
.additionally__textarea:focus {
  border-color: $seafoam-blue-radio;
}

.additionally__textarea::placeholder {
  @include font-text($OpenSans, 17px, 18px, 400);
  max-width: 165px;
}

@media (min-width: $tablet-width) {
  .additionally {
    padding-bottom: 50px;
  }

  .additionally__textarea {
    max-width: 500px;
    height: 142px;
    margin-bottom: 53px;
    border: 2px solid $very-dark-brown;
    padding: 12px 0 0 14px;
  }

  .additionally__textarea::placeholder {
    @include font-text($OpenSans, 19px, 18px, 400);
    max-width: 100%;
  }

  .additionally__container {
    display: flex;
    justify-content: space-between;
  }

  .additionally__title {
    padding-top: 39px;
  }
}

@media (min-width: $desktop-width) {

  .additionally {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .additionally__textarea {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
  }

  .additionally__textarea::placeholder {
    max-width: 100%;
  }

  .additionally__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 176px 0 63px;
  }
}
