.additionally {}

.additionally__wrapper {
  @include wrapper;
}

.additionally__textarea {
  @include font-text($OpenSans, 17px, 18px, 400);
  color: $gray-placeholder;
  width: 100%;
}

.additionally__textarea::placeholder {
  max-width: 165px;
  padding: 0;
  padding: 18px 0 0 17px;
}

.additionally__container {
  @media(min-width:$tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}



@media(min-width:$tablet-width){
  .additionally__textarea{
    max-width: 500px;
    margin-bottom: 53px;
  }

  .additionally__textarea::placeholder{
      max-width: 100%;
  }
}
