.color {

}

.color__wrapper {
  @include wrapper;
}

.color__list {
  @include list-reset;
}

.color__item {
}

.color__name {
  @include font-text($OpenSans, 17px, 18px, 700);
  color: $black;
  padding-left: 18px;
}

.color__container {}


@media(min-width: $tablet-width) {
  .color{
    @media(min-width: $tablet-width) {
      background-color: $white;
    }
  }

  .color__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color__item{
    width: 200px;
  }

  .color__name{
    @include font-text($OpenSans, 17px, 18px, 700);
  }
  .color__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


}
