.color {
  margin-top: 25px;
}

.color__wrapper {
  @include wrapper;
}

.color__title {
  margin-bottom: 23px;
}

.color__list {
  @include list-reset;
  margin-top: 18px;
}

.color__container {
  overflow-x: hidden;
}

.color__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 22px;
}

.color__input {
  appearance: none;
  position: absolute;
}

.color__name {
  @include font-text($OpenSans, 17px, 18px, 700);
  color: $black;
  display: flex;
  align-items: center;
}

.color__name::before {
  content: "";
  display: block;
  width: 40px;
  height: 39px;
  border: 2px solid $text;
  background-color: #ffffff;
  margin-right: 22px;
}

.color__name:hover::before {
  border-color: $seafoam-blue-radio;
}

.color__name:active::before {
  border-color: $text;
  opacity: 0.3;
}

.color__name::after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;

  background: url("../img/icon-tick.svg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 13px;
  left: 9px;
  z-index: 2;
  opacity: 0;
}

.color__input:checked + .color__name::after {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .color {
    background-color: $white;
    margin-top: 10px;
  }

  .color__title {
    padding-top: 29px;
  }

  .color__name::after {
    width: 33px;
    height: 22px;
    top: 8px;
    left: 10px;
  }

  .color__wrapper {
    padding-top: 39px;
    padding-bottom: 19px;
  }

  .color__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color__item {
    width: 200px;
    margin-bottom: 48px;
    margin-left: 60px;
  }

  .color__name {
    @include font-text($OpenSans, 19px, 18px, 700);
    margin-bottom: -11px;
  }

  .color__container {
    display: flex;
    justify-content: space-between;
    overflow-x: visible;
  }

  .color__name::before {
    width: 52px;
    height: 52px;
    margin-top: -7px;
    margin-right: 26px;
    margin-bottom: -6px;
    background-color: inherit;
  }
}

@media (min-width: $desktop-width) {
  .color__wrapper {
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .color__list {
    justify-content: flex-start;
    margin-top: 0;
  }

  .color__item {
    width: 209px;
    margin-left: 55px;
  }

  .color__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 52px 140px 0 61px;
  }

  .color__name {
    display: flex;
    align-items: flex-start;
  }

  .color__name::before {
    width: 54px;
    height: 52px;
    margin-top: -15px;
    margin-right: 28px;
    margin-bottom: 2px;
  }

  .color__name::after {
    width: 33px;
    height: 22px;
    left: 12px;
    top: 0;
  }
}
