.contacts {
  padding: 44px 0 39px 0;

  @media(min-width: $tablet-width) {}

  @media(min-width: $desktop-width) {
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  @include wrapper;

  @media(min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.contacts__title {
  @include font-text($OpenSans, 18px, 30px, 700);
  color: $black;
  margin: 0;
  margin-bottom: 35px;

  @media(min-width: $tablet-width) {
    @include font-text($OpenSans, 43px, 50px, 700);
  }
}

.contacts__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;

  @media(min-width: $tablet-width) {
    flex-direction: row;
  }

  @media(min-width: $desktop-width) {
    flex-direction: column;
    max-width: 300px;
  }
}

.contacts__email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media(min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.contacts__email p {
  @include font-text($OpenSans, 15px, 30px, 400);
  margin: 0;

  @media(min-width: $tablet-width) {
    padding-right: 26px;
  }
}

.contacts__email a {
  @include font-text($OpenSans, 15px, 30px, 400);
  color: $text;
  width: 178px;
  text-decoration: none;
  position: relative;

  @media(min-width: $tablet-width) {}
}

.contacts__email a::after {
  content: "";
  position: absolute;
  display: block;
  top: 27px;
  left: 0;
  width: 97%;
  height: 1px;
  background-color: $greeny-blue;
}

.contacts__adress {
  display: flex;
  justify-content: space-between;

  @media(min-width: $tablet-width) {
    margin-left: 55px;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__adress p {
  @include font-text($OpenSans, 15px, 30px, 400);
  margin: 0;
  text-align: left;
  max-width: 178px;

  @media(min-width: $tablet-width) {
    padding-right: 26px;
  }
}

.contacts__adress span {
  @include font-text($OpenSans, 15px, 30px, 400);
  margin: 0;
  text-align: left;
  max-width: 178px;
}

.contacts__link {
  margin-top: 39px;

  @media(min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
    max-width: 230px;
  }
}
