.copyright {
  @include font-text($OpenSans, 19px, 18px, 700);
  text-decoration: none;
  color: $black;
  display: block;
  padding-top: 30px;
  text-align: left;
  padding-left: 40px;
  position: relative;

  & svg {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 33px;
    bottom: -15px;
    fill: $seafoam-blue;
  }

  & svg:hover {
    fill: $svg-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
    padding-right: 55px;

    & svg {
      right: 0;
      padding-top: 0;
    }
  }
}
