.email {
  margin-top: 9px;
}

.email__wrapper {
  @include wrapper;
}

.email input {
  @include font-text($OpenSans, 17px, 18px, 400);
  color: $text;
  border: none;
  width: 100%;
  border-bottom: 2px solid $black;
  height: 52px;
  margin-bottom: 24px;
  margin-top: -24px;
  display: flex;
  outline: none;
}

.email input:hover,
.email input:focus {
  border-color: $seafoam-blue-radio;
}

.email input::placeholder {
  @include font-text($OpenSans, 17px, 18px, 400);
  color: $gray-placeholder;
}

.email__container {
  position: relative;

  & svg {
    position: absolute;
    top: 37px;
    right: 0;
  }
}

.email__title {
  margin-bottom: 2px;
}

@media (min-width: $tablet-width) {
  .email {
    margin: 0;
  }

  .email input {
    @include font-text($OpenSans, 19px, 18px, 400);
    width: 500px;
    background-color: inherit;
    padding-left: 15px;
  }

  .email__container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & svg {
      top: -10px;
      right: 0;
      opacity: 0.2;
    }
  }

  .email input::placeholder {
    @include font-text($OpenSans, 19px, 18px, 400);
  }
}

@media (min-width: $desktop-width) {
  .email__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 200px 0 61px;
    align-items: center;

    & svg {
      top: 15px;
      right: 200px;
      opacity: 0.2;
    }
  }

  .email input {
    width: 100%;
    margin: 0;
  }
}
