.footer {
  background-color: $white;
}

.footer__wrapper {
  @include wrapper;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}

.footer__logo {
  display: none;

  & svg:hover {
    fill: $svg-hover;
  }

  & svg:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 54px;
  }

  .footer__logo {
    display: block;
  }
}
