.form {
  overflow-x: hidden;
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 34px;
}

.form__title {
  @include font-text($OpenSans, 17px, 16px, 700);
  color: $seafoam-blue;
  border: none;
  padding-right: 27px;
  margin-bottom: 23px;
  position: relative;
  background: none;
  outline: none;
  width: auto;
<<<<<<< HEAD
=======
}

.form__contacts {
  background-color: $white;
  padding: 50px 0;
>>>>>>> 7305035b3ed323e9b6e8e50a15486274d04e3b4a
}

.form__title::after {
  content: "";
<<<<<<< HEAD
=======
  width: 100vw;
  left: 100%;
>>>>>>> 7305035b3ed323e9b6e8e50a15486274d04e3b4a
  height: 2px;
  background-color: #63d1bb;
  position: absolute;
  right: 0;
  top: 7px;
<<<<<<< HEAD
  width: 100vw;
  left: 100%;
}

.form__contacts {
  background-color: $white;
  padding: 50px 0;
=======
>>>>>>> 7305035b3ed323e9b6e8e50a15486274d04e3b4a
}


@media(min-width: $tablet-width) {
  .form__title {
    width: 0;
    background-color: fff;
  }

  .form fieldset {
    border: none;
    margin-top: 50px;
  }

  .form__title::after {
    display: none;
  }
}
