.form {
  overflow-x: hidden;
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__title {
  @include font-text($OpenSans, 17px, 16px, 700);
  color: $seafoam-blue;
  border: none;
  padding-right: 25px;
  margin-bottom: 25px;
  position: relative;
  background: none;
  outline: none;
  text-transform: uppercase;
  width: auto;
}

.form__title::after {
  content: "";
  height: 2px;
  background-color: #63d1bb;
  position: absolute;
  right: 0;
  top: 7px;
  width: 100vw;
  left: 100%;
}

@media(min-width: $tablet-width) {
 /*
  .form fieldset {
    border: none;
    margin-top: 50px;
  }
*/
  .form__title::after {
    display: none;
  }
}

@media(min-width: $desktop-width){
  .form__title{
    width: 114px;
    padding: 0;
    margin: 0;
  }
}
