.header__wrapper {
  @include wrapper;
  position: relative;
}

.header__toggle {
  position: absolute;
  right: 25px;
  top: 22px;
  background-color: #ffffff;
  border: none;
  display: none;
}

.header__logo img {
  padding-top: 21px;
  padding-bottom: 15px;
  margin-left: 86px;
}

.header__logo img:hover {
  opacity: 0.6;
}

.header__logo img:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .header__toggle {
    display: none;
  }

  .header {
    border-bottom: 1px solid $white-two;
  }

  .header__logo img {
    position: absolute;
    padding-top: 12px;
    top: 12px;
    left: -38px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .header__logo img {
    margin: 0;
    top: -4px;
    left: 500px;
    display: block;
  }
}
