.main-nav {
  background-color: $white-three;
  display:flex;
  flex-wrap: wrap;
}

.main-nav__wrapper {}


.main-nav__delivery {
  font-size: 15px;
  line-height: 24px;
  color: $text;
}

.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 22px;
  background-color: #ffffff;
  border: none;
}

@media(min-width:$tablet-width){
  .main-nav__toggle{
    display: none;
  }
}
