.main__wrapper {
  @include wrapper;
}

.main__title {
  @include font-text($OpenSans, 27px, 30px, 700);
  margin: 0;
  color: $black;
  background-color: $white;
  padding-top: 71px;
  padding-bottom: 76px;
  text-align: center;
}

.main__description {
  @include font-text($OpenSans, 13px, 24px, 400);
  @include wrapper;
  color: $text;
  padding-top: 21px;
}

@media (min-width: $tablet-width) {
  .main__title {
    @include font-text($OpenSans, 43px, 50px, 700);
    padding-top: 95px;
    padding-bottom: 90px;
  }

  .main__title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    background: url("../../img/bg-zigzag-fill.svg") repeat-x;
    top: 303px;
    right: 0;
  }

  .main__description {
    @include font-text($OpenSans, 17px, 30px, 400);
    padding-top: 63px;
  }
}

@media (min-width: $desktop-width) {
  .main__description {
    max-width: 675px;
    padding: 0;
    padding-top: 123px;
  }

  .main__title::after {
    top: 325px;
  }

  .main__title {
    @include font-text($OpenSans, 53px, 57px, 700);
    padding-top: 95px;
    padding-bottom: 99px;
  }
}
