.main__wrapper {
  @include wrapper;
}

.main-form {}

.main__title {
  @include font-text($OpenSans, 27px, 30px, 700);
  margin: 0;
  color: $black;
  background-color: $white;
  padding-top: 76px;
  padding-bottom: 74px;
  text-align: center;
}

.main__description {
  @include font-text($OpenSans, 13px, 24px, 400);
  @include wrapper;
  color: $text;
  margin: 0;
  padding-top: 29px;
}
