.main-image__title {
  @include font-text($OpenSans, 27px, 30px, 700);
  color: $very-dark-brown;
  text-align: center;
  margin: 0 auto;
  max-width: 244px;
  padding-top: 70px;
  padding-bottom: 122px;


  @media (min-width: $tablet-width) {
    @include font-text($OpenSans, 43px, 50px, 700);
    text-align: center;
    margin: 0 auto;
    padding-top: 155px;
    padding-right: 4px;
    max-width: 511px;
  }

  @media (min-width: $desktop-width) {
    @include font-text($OpenSans, 53px, 57px, 700);
    max-width: 626px;
  }
}
