.main-preview__item {
  padding: 27px 0 28px 30px;
  cursor: pointer;
}

.main-preview__item:hover {
  padding: 35px 0 35px 29px;
}

.main-preview__item:active .main-preview__title {
  color: $index-green-box;
}

.main-preview__interior-items {
  background-color: $seafoam-blue;
  position: relative;
}

.main-preview__kid-games {
  background-color: $greeny-blue;
  position: relative;

  & svg {
    fill: #149080;
  }
}

.main-preview__title {
  @include font-text($OpenSans, 19px, 24px, 700);
  color: $white-three;
  text-decoration: none;
  display: block;
  max-width: 106px;

  & svg {
    position: absolute;
    right: 52px;
    top: 23px;
    fill: $svg-color;
  }
}

@media (min-width: $tablet-width) {
  .main-preview__item {
    padding: 30px 185px 29px 33px;
    width: 50%;
  }

  .main-preview__title {
    @include font-text($OpenSans, 20px, 30px, 700);

    & svg {
      top: 31px;
    }
  }

  .main-preview::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background: url("../../img/bg-zigzag-fill.svg") repeat-x;
    bottom: -9px;
    right: 0;

  }

  .main-preview {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: -120px;
  }
}

@media (min-width: $desktop-width) {
  .main-preview__item {
    padding-right: 350px;
  }

  .main-preview {
    max-width: 100%;

    & svg {
      top: 31px;
      right: 37px;
    }
  }

  .main-preview::after {
    left: 0;
    width: 100%;
    bottom: -10px;
  }
}
