.main-image {
  @include wrapper;
}

.main-image__title {
  @include font-text($OpenSans, 27px, 30px, 700);
  color: $very-dark-brown;
  text-align: center;
  margin: 0;
  padding-top: 76px;
  padding-bottom: 120px;


  @media(min-width: $tablet-width) {
    @include font-text($OpenSans, 43px, 50px, 700);
    text-align: center;
    margin: 0 auto;
    padding-top: 153px;
  }

  @media(min-width: $desktop-width) {
    @include font-text($OpenSans, 53px, 57px, 700);
    max-width: 626px;
  }
}
