.modal {
  text-align: center;
  border: solid 1px $modal-border;
  padding-top: 29px;
  padding-bottom: 46px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal__wrapper {
  padding: 0 30px;
}

.modal input {
  display: none;
}

.select {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  @include font-text($OpenSans, 25px, 30px, 700);
  color: $black;
  max-width: 150px;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal__description {
  @include font-text($OpenSans, 15px, 30px, 400);
  color: $text;
  margin-top: 12px;
  margin-bottom: 24px;
}

.modal__size {
  @include font-text($OpenSans, 17px, 16px, 700);
  color: $text;
  text-transform: uppercase;
  width: 82px;
  height: 52px;
  border: 2px solid $white-two;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__button {
  @include font-text($OpenSans, 17px, 16px, 700);
  color: $white-three;
  background-color: $seafoam-blue;
  min-width: 100%;
  margin-top: 31px;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
    margin: 0 auto;
  }

  .modal__title {
    @include font-text($OpenSans, 30px, 57px, 700);
    margin: 0;
    max-width: 100%;
  }

  .modal__wrapper {
    padding: 0 105px;
  }

  .modal__size {
    width: 112px;
    height: 52px;
  }

  .modal__size:hover {
    border-color: $text;
    opacity: 0.3;
  }

  .modal__size:active,
  .modal__size:focus {
    border-color: $seafoam-blue;
  }
}
