.product-list {
  padding-top: 28px;
  padding-bottom: 36px;
  position: relative;
}

.product-list__wrapper::before {
  content: "";
  position: absolute;
  background: url("../../img/bg-zigzag-line.svg") repeat-x;
  width: 100%;
  height: 6px;
  bottom: -42px;
  left: 0;
  background-size: contain;
}

.product-list__wrapper {
  @include wrapper;
  position: relative;
}

.product-list__title {
  @include font-text($OpenSans, 25px, 30px, 700);
  color: $black;
  margin: 0;
  margin-bottom: 3px;
}

.product-list__top {
  @include font-text($OpenSans, 17px, 20px, 700);
  color: $seafoam-blue;
  text-transform: uppercase;
}

.product-list__text {
  @include font-text($OpenSans, 15px, 24px, 400);
  color: $text;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 17px;
}

.product-list__price {
  @include font-text($OpenSans, 17px, 24px, 700);
  color: $text;
  display: block;
  margin-top: 18px;
  margin-bottom: 25px;
  text-align: center;
}

.product-list__link {
  @include font-text($OpenSans, 17px, 20px, 700);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 291px;
}

@media (min-width: $tablet-width) {
  .product-list {
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .product-list__title {
    @include font-text($OpenSans, 43px, 50px, 700);
    display: inline-block;
    margin-right: 135px;
    margin-bottom: 48px;
  }

  .product-list__wrapper::before {
    background: none;
  }

  .product-list::before {
    content: "";
    position: absolute;
    background: url("../../img/bg-zigzag-line.svg") repeat-x;
    width: 100%;
    height: 15px;
    left: -16px;
    bottom: -20px;
    background-size: contain;
  }

  .product-list__top {
    @include font-text($OpenSans, 17px, 17px, 700);
    display: inline-block;
    max-width: 70px;
    text-align: center;
  }

  .product-list__text {
    @include font-text($OpenSans, 17px, 30px, 400);
    margin: 0;
    max-width: 285px;
    margin-bottom: 38px;
  }

  .product-list__price {
    @include font-text($OpenSans, 20px, 24px, 700);
    max-width: 291px;
    margin-top: 58px;
    margin-bottom: 34px;
  }

  .product-list img {
    position: absolute;
    top: 105px;
    right: 53px;
    width: 333px;
    height: 404px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    padding-top: 124px;
  }

  .product-list__wrapper {
    padding-left: 225px;
  }

  .product-list__title {
    @include font-text($OpenSans, 53px, 57px, 700);
    margin-bottom: 49px;
  }

  .product-list__top {
    position: absolute;
    left: 95px;
    top: 15px;
  }

  .product-list__text {
    margin-bottom: 47px;
  }

  .product-list img {
    width: 525px;
    height: 636px;
    top: -50px;
    right: 50px;
  }

  .product-list::before {
    height: 23px;
    bottom: -44px;
  }
}
