.properties {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-bottom: 28px;
}

.properties__group {
    margin: 0;
    display: flex;
    border-bottom: 1px solid $white-two;
    padding-bottom: 9px;
    padding-top: 10px;
}

.properties__key {
    width: 95px;
    padding-right: 30px;
}

.properties dt {
    @include font-text($OpenSans, 15px, 20px, 400);
    color: $text;
}


@media(min-width: $tablet-width) {
  .properties{
    max-width: 291px;
    display: block;
}

}


@media(min-width: $desktop-width) {
  .properties{
   margin-bottom: 105px;
  }
  .properties__group{
    padding-bottom: 13px;
    padding-top: 9px;
  }
}
