.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 55px;
  position: relative;
}

.reviews svg {
  cursor: pointer;
}

.reviews__wrapper {
  @include wrapper;
  flex-wrap: wrap;
  position: relative;
}

.reviews::before {
  @include wrapper;
  content: "";
  position: absolute;
  background: url("../../img/bg-zigzag-line.svg") repeat-x;
  width: 100%;
  height: 6px;
  padding-right: 0 50px;
  bottom: -50px;
  background-size: contain;
  left: 0;
  right: 0;
}

.reviews__title {
  @include font-text($OpenSans, 25px, 30px, 700);
  color: $black;
  margin: 0;
}

.reviews__text {
  @include font-text($OpenSans, 15px, 30px, 400);
  color: $text;
  margin-top: 23px;
  margin-bottom: 28px;
}

.reviews__block {
  height: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;
}

.reviews__name {
  @include font-text($OpenSans, 17px, 24px, 700);
  margin: 0;
  margin-bottom: 3px;
}

.reviews__email {
  @include font-text($OpenSans, 17px, 30px, 400);
  @include list-reset;
  text-decoration: none;
  color: $text;
}

.reviews__buttons {
  max-width: 260px;
  height: 52px;
  border: 1px solid $white-two;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  // margin-bottom: 38px;
}

.reviews__button--prev svg {
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 12px;
  left: 38px;
  outline: none;
}

.reviews__button {
  border: none;
  outline: none;
}

.reviews__line {
  border-left: 1px solid $white-two;
  height: 100%;
}

.reviews__button--next svg {
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 12px;
  right: 40px;
  outline: none;
}

.reviews__button--next svg:hover {
  opacity: 0.6;
}

.reviews__button--next svg:active {
  opacity: 0.3;
}

.reviews__button--prev svg:hover {
  opacity: 0.6;
}

.reviews__button--prev svg:active {
  opacity: 0.3;
}

.reviews__link {
  margin-top: 38px;
}

.reviews__link--hidden {
  display: none;
}

.reviews__link--mob {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-top: 82px;
    padding-top: 79px;
    padding-bottom: 82px;
    position: relative;
  }

  .reviews__link {
    @include font-text($OpenSans, 17px, 20px, 700);
  }

  .reviews__wrapper::after {
    content: "";
    position: absolute;
    background: url("../../img/review@1x.jpg") center center/cover;
    width: 350px;
    height: 457px;
    z-index: -1;
    left: 0;
    top: -78px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/review@2x.jpg") center center/cover;
    }
  }

  .reviews__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .reviews__title {
    @include font-text($OpenSans, 43px, 50px, 700);
    display: inline-block;
  }

  .reviews__text {
    @include font-text($OpenSans, 17px, 30px, 400);
    margin-top: 45px;
    margin-bottom: 59px;
  }

  .reviews::before {
    width: 100%;
    right: 0;
    left: 0;
    padding: 0;
    bottom: -19px;
    height: 15px;
  }

  .reviews__buttons {
    padding-right: 123px;
    border: none;
  }

  .reviews__button--prev svg {
    transform: rotate(180deg);
    left: 78px;
    top: 14px;
  }

  .reviews__line {
    display: none;
  }

  .reviews__button--next svg {
    transform: rotate(180deg);
    right: 106px;
    top: 14px;
  }

  .reviews__link--mob {
    display: flex;
    margin: 0;
    max-width: 175px;
    padding: 20px 41px;
  }

  .reviews__link--tablet {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 130px;
    padding-top: 77px;
  }

  .reviews__wrapper::after {
    top: -70px;
    left: 49px;
  }

  .reviews__wrapper {
    padding-left: 225px;
  }

  .reviews__title {
    @include font-text($OpenSans, 53px, 57px, 700);
  }

  .reviews::before {
    max-width: 1050px;
    left: 50px;
    right: 0;
    height: 23px;
  }

  .reviews::after {
    left: 150px;
    top: 5px;
  }

  .reviews__text {
    margin-top: 45px;
    margin-bottom: 40px;
    max-width: 800px;
  }

  .reviews__link--mob {
    margin-top: 10px;
  }
}
