.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

.site-list__item {
  @include font-text($OpenSans, 17px, 24px, 700);
  @include list-reset;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  padding: 27px 0;
  padding-left: 45px;
  text-align: left;
  position: relative;

  & a {
    text-decoration: none;
    color: $black;
  }

  & svg {
    position: absolute;
    left: 0;
    top: 31px;
  }
}

.site-list__search-svg {
  fill: "#231F20";
}

.site-list__item:hover {
  opacity: 0.6;
}

.site-list__item:active {
  opacity: 0.3;
}

.site-list__item:first-child {}

.site-list__item svg:hover {
  opacity: 1;
  fill: $seafoam-blue;
}

.site-list__item svg:active {
  fill: $seafoam-blue;
  opacity: 0.3;
}

.site-list__item--out {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .site-list__item:first-child {}

  .site-list__link--tablet {
    font-size: 0;
    line-height: 0;
  }

  .site-list__item--tablet {
    width: 322px;
    order: -1;
  }

  .site-list__bottom {
    position: absolute;
    bottom: -75px;
    border: none;
  }

  .site-list__item--out-tablet {
    display: none;
  }

  .site-list__item {
    @include font-text($OpenSans, 15px, 24px, 700);
    box-shadow: none;
    padding: 32px 0;

    & svg {
      left: 28px;
      top: 35px;
      opacity: 0.2;
    }
  }

  .site-list__item--basket-tablet {
    @include font-text($OpenSans, 17px, 24px, 700);
    width: 260px;
    text-align: right;
  }

  .site-list__item--search {
    max-width: 88px;
    font-size: 0;
    display: block;
    border-left: 1px solid $white-two;
    border-right: 1px solid $white-two;
    width: 82px;
  }

  .site-list__bottom-center {
    left: 165px;
  }

  .site-list__item--out {
    display: block;
    font-weight: 400;
  }

  .site-list__desktop-middle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    @include font-text($OpenSans, 17px, 24px, 700);
  }

  .site-list__bottom {
    display: block;
    position: initial;
  }

  .site-list__catalog-desktop {
    order: -1;
    width: 185px;
    text-align: left;
    border-right: 1px solid $white-two;
  }

  .site-list__link--tablet {
    @include font-text($OpenSans, 15px, 24px, 700);
    position: absolute;
    border: none;
  }

  .site-list__bottom-center {
    width: 220px;
    text-align: left;
    padding-left: 35px;
    margin-right: 295px;
  }

  .site-list__item--search {
    width: 83px;
    font-size: 0;
  }

  .site-list__desktop-bottom {
    @include font-text($OpenSans, 15px, 24px, 400);
    position: absolute;
    bottom: -97px;
    padding: 0;
  }

  .site-list__desktop-middle {
    @include font-text($OpenSans, 15px, 24px, 700);
    display: block;
    border: none;
    left: 220px;
  }
}
