.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $white-two;
}

.social__item {
  padding: 0 20px 23px 20px;
  line-height: 0;
  font-size: 0;

  & svg:hover {
    fill: $svg-hover;
  }

  & svg:active {
    opacity: 0.3;
  }
}


@media(min-width: $tablet-width) {
  .social__list {
    border: none;
    padding-left: 120px;
  }

  .social__item {
    padding-bottom: 0;
  }
}
