.telephone {
  margin-top: 30px;
}

.telephone input {
  border: none;
  width: 100%;
  border-bottom: 2px solid $black;
  height: 52px;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  outline: none;
}

.telephone input:hover,
.telephone input:focus {
  border-color: $seafoam-blue-radio;
}

.telephone__container svg:hover,
.telephone__container svg:active {
  fill: $seafoam-blue-radio;
}


.telephone__wrapper {
  @include wrapper;
}

.telephone__title {
  margin-bottom: 7px;
}

.telephone ::placeholder {
  @include font-text($OpenSans, 19px, 18px, 400);
  color: $gray-placeholder;
}

.telephone__container {
  position: relative;

  & svg {
    position: absolute;
    top: 37px;
    right: 0;
  }
}

/*Планшет версия*/

@media(min-width:$tablet-width) {
  .telephone {
    margin: 0;
  }

  .telephone input {
    width: 500px;
    background-color: inherit;
  }

  .telephone__title {
    padding-top: 19px;
  }

  .telephone__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    & svg {
      top: 15px;
    }
  }

  .telephone ::placeholder {
    padding-left: 17px;
  }
}

@media(min-width:$desktop-width) {

  .telephone__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 200px 0 61px;
    align-items: center;

    & svg {
      right: 200px;
      top: 15px;
      opacity: 0.2;
    }
  }

  .telephone input {
    width: 100%;
    margin: 0;
  }
}
