.telephone {}

.telephone input {
  border: none;
  width: 100%;
  border-bottom: 2px solid $black;
  height: 30px;
  margin-bottom: 24px;
  background-color: $white;
}

.telephone__wrapper {
  @include wrapper;
}

.telephone ::placeholder {
  @include font-text($OpenSans, 19px, 18px, 400);
  color: $gray-placeholder;

}

.telephone__container {
  position: relative;

  & svg {
    position: absolute;
    top: 37px;
    right: 0;
  }
}

/*Планшет версия*/

@media(min-width:$tablet-width) {
  .telephone input {
    width: 500px;

  }

  .telephone__container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & svg {
      top: -10px;

    }
  }

  .telephone ::placeholder {
    padding-left: 17px;
  }
}
