.telephone {}

.telephone input {
  border: none;
  width: 100%;
  border-bottom: 1px solid $black;
  height: 30px;
  margin-bottom: 24px;
}

.telephone__wrapper {
  @include wrapper;
}

.telephone ::placeholder {
  @include font-text($OpenSans, 19px, 18px, 400);
  color: $gray-placeholder;
}
