.type {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }
}

.type__wrapper {
  @include wrapper;
}

.type__title {
  @include font-text($OpenSans, 17px, 16px, 700);
  color: $seafoam-blue;
}

.type__radio {
  @include font-text($OpenSans, 17px, 18px, 700);
  color: $black;
  padding-left: 64px;
  position: relative;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    @include font-text($OpenSans, 19px, 18px, 700);
    padding-top: 0;
    padding-left: 80px;
    margin-bottom: 30px;
  }
}

.type__radio:hover::before {
  border-color: $seafoam-blue-radio;
}

.type__radio:active::before {
  border-color: $text;
  opacity: 0.3;
}

.type__radio::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid $text;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    top: -15px;
  }
}

.type__radio::after {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $seafoam-blue-radio;
  z-index: 2;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
    top: 0;
    left: 15px;
  }
}

.type__item input:checked+.type__radio::after {
  opacity: 1;
}

.type__list {
  @include list-reset;
  margin-top: 26px;
}

.type__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & input {
    appearance: none;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-bottom: 28px;
  }
}

.type__container {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-right: 200px;
    padding-left: 61px;
    justify-content: flex-start;
  }
}
