.username {
  margin-top: 34px;
}

.username__wrapper {
  @include wrapper;
}

.username__list {
  @include list-reset;
}


.username__item input {
  border: none;
  width: 100%;
  border-bottom: 2px solid $black;
  height: 52px;
  margin-bottom: 24px;
  outline: none;
}

.username__item input:hover,
.username__item input:active,
.username__item input:focus {
  border-color: $seafoam-blue-radio;
}

.username__item:last-child input {
  margin-bottom: 0;
}

.username__item label {
  @include font-text($OpenSans, 17px, 18px, 700);
  color: $black;
  display: block;
}

.username__item ::placeholder {
  @include font-text($OpenSans, 17px, 18px, 400);
  color: $gray-placeholder;
}

@media (min-width: $tablet-width) {
  .username {
    margin-top: 50px;
    margin-bottom: 37px;
  }

  .username__list {
    width: 500px;
  }

  .username__item ::placeholder {
    @include font-text($OpenSans, 19px, 18px, 400);
  }

  .username__item {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
  }

  .username__item label {
    margin-right: 25px;
  }

  .username__item input {
    margin-top: -16px;
    height: 52px;
    padding-left: 25px;
  }

  .username__container {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .username__list {
    width: 100%;
  }

  .username__item label {
    padding: 0;
  }

  .username__item input {
    width: 100%;
    margin-top: -15px;
  }

  .username__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 50px 200px 50px 61px;
  }
}
