.video {
  padding-top: 25px;
  padding-bottom: 33px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.video__image:hover .video__play {
  transform: scale(1.2);
}


.video__title {
  @include font-text($OpenSans, 17px, 24px, 700);
  color: $black;
  padding: 0 43px 26px 91px;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-text($OpenSans, 20px, 24px, 700);
    padding-top: 38px;
    padding-left: 60px;
    padding-bottom: 0;
    margin-left: 42px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-left: 79px;
    margin: 0;
    max-width: 150px;
  }
}

.video__title-svg {
  position: absolute;
  top: 5px;
  left: 34px;

  @media (min-width: $tablet-width) {
    top: 34px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    left: 78px;
    top: 0;
  }
}

.video__play {
  position: absolute;
  top: 140px;
  left: 80px;

  @media (min-width: $tablet-width) {
    top: 200px;
    left: 280px;
  }

  @media (min-width: $desktop-width) {}
}


.video__image {
  order: 1;
  font-size: 0;
  line-height: 0;
  height: 150px;
}

.video__description {
  @include font-text($OpenSans, 13px, 24px, 400);
  color: $text;
  margin: 25px 0 27px 0;
  padding: 0 34px;

  @media (min-width: $tablet-width) {
    @include font-text($OpenSans, 15px, 30px, 400);
    margin-bottom: 35px;
    margin-top: 33px;
    padding: 0 40px;
    order: 3;
  }
}

.video__link {
  @include font-text($OpenSans, 17px, 16px, 700);
  color: $text;
  max-width: 192px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 584px;
    width: 100%;
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .video {
    display: flex;
    max-width: 100%;
    padding: 0;
    min-height: 455px;
    position: relative;
    padding-left: 680px;
    justify-content: flex-start;
    padding-top: 47px;
    padding-bottom: 60px;
  }

  .video__image {
    max-width: 682px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .video__link {
    max-width: 230px;
  }

  .video__description {
    padding-left: 78px;
  }
}
