$very-dark-brown:#010000;
$white-three:#ffffff;
$black:#000000;
$seafoam-blue:#63d1bb;
$text:#444444;


$gray-placeholder:rgba(68, 68, 68, 0.3);


/*Волнистая линия*/
$white:#f1f1f1;

/*ЦВЕТА ФОНА*/
$seafoam-blue:#63d1bb;
$white-two:#ececec;
$greeny-blue:#56c3b2;


/*Радио-кнопка в form*/
$seafoam-blue-radio:#62d1ba;

$table-width: 768px;
$desktop-width: 1300px;
