$very-dark-brown: #010000;
$white-three: #ffffff;
$black: #000000;
$seafoam-blue: #63d1bb;
$text: #444444;
$modal-border: #c6c6c6;
$gray-placeholder: rgba(68, 68, 68, 0.3);
$index-green-box:rgba(255, 255, 255, 0.3);

/*Волнистая линия*/

$white: #f1f1f1;

/*ЦВЕТА ФОНА*/

$seafoam-blue: #63d1bb;
$white-two: #ececec;
$greeny-blue: #56c3b2;
$active-index:#59d5bc;

/*Радио-кнопка в form*/

$seafoam-blue-radio: #62d1ba;
$OpenSans: "Opensans",
"Verdana",
sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;

/*Цвет для svg*/

$svg-color: #149080;
$svg-hover: #46c1ae;



$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
